* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(119, 141, 169);
    background: linear-gradient(to top, #00416a 10%, #e4e5e6);
}

.header {
    background-color: rgb(224, 225, 221);
    border: 1px solid rgb(178, 175, 175);
    border-radius: 1em;
    width: 98%;
    margin: 20px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.imagen {
    display: flex;
    flex-direction: row;
    height: 80%;
    cursor: pointer;
    position: relative;
    left: 80px;
}


.listaorden {
    display: flex;
    flex-direction: row;
    margin: -80px 100px;
}

.elementos {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 550;
    font-size: 20px;
}

#ele {
    display: flex;
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 1em;
}

#ele :hover {
    margin: 10px;
    background: rgb(119, 141, 169);
    transition: 1.5s;
    border-radius: 1em;
    color: white;
}

.carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    position: relative;
    left: 5px;
    cursor: pointer;
}

.carrito :hover {
    transition: 1.5s;
    margin-left: 20px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 100px;
    padding-bottom: 100%;
}

.tipo1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    border: 0px solid black;
    background: linear-gradient(to bottom, #00416a, #e4e5e6);
    border-radius: 1em;
    padding: 60px;
}

.tipo1 ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: black;
}

#boton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}

#bt {
    color: black;
    display: flex;
    text-decoration: none;
    border: 1px solid;
    padding: 5px;
    margin: 50px;
    font-size: 50px;
    margin-top: 60px;
    border-radius: 1em;
}

.titu {
    width: 600px;
    font-size: 50px;
    color: rgb(224, 225, 221);
}

#parrafo1{
   font-size: 40px;
}

#parrafo2 {
    font-size: 25px;
    margin-top: 50px;
}

.imagen2{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 610px;
    background: linear-gradient(to right, #00416a, #e4e5e6);
    padding: 50px;
    border-radius: 1em;
}

#img{
    border: 0 solid ;
    border-radius: 1em;
    height: 70%;
    width: 100%;
}

#titulo{
    font-family: 'Anek Gujarati', sans-serif;
}

#parrafo1{
    font-family: 'Baloo 2', cursive;
    font-size: 60%;
}

#bt{
    font-family: 'Lilita One', cursive;
    color: black;
    border: 2px solid ;

}

#boton :hover {
    color: white;
    transition: 1s;
    border: 5px solid black;
    padding: 2px;
}

.parrafo-imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    font-size: 30px;
}

#p1{
    color: black;
}

#p2{
    color: wheat;
    font-weight: 550;
}

.parrafo-abajo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    height: 160px;
    width: 1500px;
    top: 150px;
    right: 1000px;
    padding: 10px;
    flex-wrap: nowrap;
    font-size: 30px;
    font-weight: 600;
    font-variant-ligatures: common-ligatures;
    border-radius: 1em;
    background: linear-gradient(to right, #00416a, #e4e5e6);
}

span{
    color:  #fceabb;
    font-family: 'Baloo 2', cursive;
}